.main-container{
    display: flex;
    flex-direction: column;
    
}
#user-info{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#table-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
button{
    padding: 10px;
    border-radius: 20px;
}
.square{
    border: 1px solid black;
    width: 130px;
    height: 60px;
    display: grid;
    place-content: center;    

}
.row{
    display: flex;
}
img{
    height: 50px;
    width: 50px;
}